.app-container {
    min-height: 100vh;
    padding: 0 0 20px;
    color: $color-dark;
    font-family: $font;
}

.app-header {
    padding: 40px;
    border-bottom: 18px solid $color-primary;
    background: $color-secondary url('../assets/intro-tertiary.jpg') center 0 no-repeat;

    h1 {
        @include typography-xl-bold;
        margin: 0;
        padding: 0 0 10px;
        color: $color-primary;
    }

    h2 {
        @include typography-l;
        margin: 0;
        padding: 0;
        color: $color-black;
    }
}

.app-body {
    width: 60%;
    margin: 20px auto;
    padding: 20px;

    @include media-query-under('md') {
        width: 90%;
    }
}

.app-tools {
    @include display-flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    padding: 20px 0 30px;
    background: $color-bg-gradient-white;
    z-index: 2;
}

.loading-wrapper {
    @include display-flex;
    justify-content: center;
    margin: 210px 0 0;

    &.seconadry {
        margin: 60px 0 0;
    }
}

.cards {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
}

.image-container {
    min-height: 230px;
    border-radius: 3px;
    background-color: $color-slate-medium;
}
