.fel__card {
    @include card-shadow;
    border: 1px solid $color-slate;
    border-radius: 3px;
    background-color: $color-white;
}

.card {
    @include display-flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 190px;
    min-height: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid $color-slate;
    border-radius: 3px;
    background-color: $color-white;

    img {
        width: 100%;
        min-height: 190px;
    }

    p {
        margin: 10px 0 15px;
        padding: 10px;
    }

    &:focus,
    &:hover {
        @include btn-shadow-hover;
        @include transition;
    }
}
