.fel__card {
    @include card-shadow;
    border: 1px solid $color-slate;
    border-radius: 3px;
    background-color: $color-white;
}

.card {
    display: grid;
    padding: 10px;
    border: 1px solid $color-slate;
    border-radius: 3px;
    background-color: $color-white;
    justify-self: stretch;

    img {
        display: block;
        width: 100%;
        height: 100%;
    }

    p {
        margin: 10px 0 15px;
        padding: 10px;
    }

    &:focus,
    &:hover {
        @include btn-shadow-hover;
        @include transition;
    }
}

.card-footer {
    @include display-flex;
    justify-content: space-between;
    padding: 5px;
}
