.fel__combo-box-wrapper {
    position: relative;
    font-size: initial;
}

.fel__combo-text-input-button {
    @include icon-button;
    position: absolute;
    top: 25px;
    right: 5px;
    border-radius: 50%;
    font-size: 22px;

    .fa-down {
        padding: 4px 8px 10px;
    }

    .fa-up {
        padding: 10px 8px 4px;
    }
}

.fel__combo-options-container {
    @include options-container;
    display: flex;
    top: 65px;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
}

.fel__combo-box-options-list {
    @include transition;
    @include options-list;
    // height: It is coming dynamiclly inline, because of expand animation
    // max-height: It is coming as component prop (inline style)
    overflow-y: auto;

    li {
        display: flex;
    }
}

.fel__combo-options-no-matches {
    @include container-no-items;
    padding: 0;
}
