@mixin display-flex {
    // sass-lint:disable no-duplicate-properties
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // sass-lint:enable no-duplicate-properties
}

@mixin item-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}

@mixin message {
    @include typography-title1;
    word-wrap: break-word;
}

@mixin media-query-under ($breakpoint-name) {
    @media only screen and (max-width: map-get($breakpoint, $breakpoint-name)) {
        @content;
    }
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes zoom-in {
    0% { transform: scale(0); }
    80% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

@mixin fade-in {
    animation: fade-in ease-in-out 0.5s;
}

@mixin zoom-in {
    animation: zoom-in ease 0.5s;
}

@mixin transition {
    transition:
    background-color 0.2s ease-out,
    box-shadow 0.2s ease-out,
    border 0.2s ease-out,
    border-color 0.2s ease-out,
    color 0.2s ease-out,
    height 0.2s ease-out,
    opacity 0.2s ease-out;
}

@mixin btn-shadow {
    box-shadow:
    0 3px 1px -2px map-get($color-shadow, '1'),
    0 2px 2px 0 map-get($color-shadow, '2'),
    0 1px 5px 0 map-get($color-shadow, '3');
}

@mixin btn-shadow-hover {
    box-shadow:
    0 2px 4px -1px map-get($color-shadow, '1'),
    0 4px 5px 0 map-get($color-shadow, '2'),
    0 1px 10px 0 map-get($color-shadow, '3');
}

@mixin card-shadow {
    box-shadow:
    0 2px 4px 0 map-get($color-shadow, '1'),
    0 0 15px 0 map-get($color-shadow, '2');
}

@mixin options-container {
    position: absolute;
    min-width: 90px;
    min-height: 36px;
    background-color: $color-white;
    z-index: 1;
}

@mixin container-no-items {
    @include typography-body3;
    padding: 0 28px;
}

@mixin options-list {
    @include typography-subtitle1;
    width: 100%;
    margin: 0;
    padding: 0;
    outline: unset;
    background-color: $color-white;
    text-align: left;
    text-transform: capitalize;
    cursor: pointer;
    list-style-type: none;

    li {
        padding: 10px;
        outline: unset;
        color: $color-fog;

        &.current-option {
            background-color: $color-slate-ultra-light;
            color: $color-primary;
        }

        &:focus,
        &:hover {
            transition: background-color 0.2s ease-out;
            border-radius: 2px;
            background-color: $color-slate-medium;
        }

        .fel__current-option-icon {
            display: inline-block;
            min-width: 25px;

            .fa-check {
                color: $color-primary;
            }
        }
    }
}

@mixin icon-button {
    @include typography-title3;
    margin: 0;
    padding: 0;
    border: unset;
    outline: unset;
    background-color: unset;
    color: $color-fog;
    text-transform: capitalize;
    cursor: pointer;

    &:focus-within,
    &:focus,
    &:hover {
        @include transition;
        color: $color-accent;

        &.active {
            color: $color-fog;
        }
    }

    &.fade-in {
        @include fade-in;
    }

    &.disabled {
        @include item-disabled;
    }

    &.active {
        color: $color-accent;
    }
}

@mixin text-input-label {
    @include typography-body4;
    display: inline-block;
    padding: 0 0 3px 10px;
    color: $color-fog;
    text-transform: capitalize;

    &.error {
        color: $color-warn;
    }

    &.disabled {
        color: $color-fog-medium;
    }
}

@mixin text-input {
    @include transition;
    @include typography-title1;
    min-width: 50px;
    padding: 5px 10px;
    border: 1px solid $color-fog-light;
    border-radius: 2px;
    outline: none;
    color: $color-dark;
    text-overflow: ellipsis;
    box-sizing: border-box;
    @supports (-moz-appearance: none) {
        text-overflow: ellipsis ellipsis;
    }

    &:focus {
        @include transition;
        border-color: $color-fog-medium;
        background-color: $color-white;
    }

    &:hover {
        @include transition;
        border-color: $color-fog-medium;
    }
}
