@mixin display-flex {
    // sass-lint:disable no-duplicate-properties
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    // sass-lint:enable no-duplicate-properties
}
