$font: sans-serif, Arial, Verdana;

@mixin typography-xl-bold {
    font-family: $font;
    font-size: 2rem;
    font-weight: bold;
    line-height: normal;
}

@mixin typography-l {
    font-family: $font;
    font-size: 1.5rem;
    font-weight: normal;
    line-height: normal;
}

@mixin typography-m {
    font-family: $font;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
}

@mixin typography-m-bold {
    font-family: $font;
    font-size: 1rem;
    font-weight: bold;
    line-height: normal;
}

@mixin typography-m {
    font-family: $font;
    font-size: 1rem;
    font-weight: normal;
    line-height: normal;
}

@mixin typography-s {
    font-family: $font;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: normal;
}

